@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&family=Quantico&family=Sen&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

/* ----------------- CSS for header ---------------- */
header {
  position: fixed;
  width: 100vw;
  display: flex;
  z-index: 9999;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin-top: -20px;
  background-color: #272727;
  border-bottom: 2px solid #474747;
  grid-area: header;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: 18px;
  margin-top: 15px;
}

.logo {
  font-family: "poppins";
  font-size: 20px;
  color: #e6e6e6;
  font-weight: 300;
  color: #FFFFFF;
}

.logo-smaller {
  font-family: "poppins";
  color: #e6e6e6;
  font-size: 10px;
  font-weight: 300;
  padding-left: 6px;
  margin-top: -7px;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 25px;
  right: 18px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #cdcdcd;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu-mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: 125px;
  right: 0px;
  background: #272727;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu-mobile li {
  padding-top: 2rem;
  display: flex;
  font-size: 22px;
  padding-left: 2rem;
  font-family: "poppins";
  color: #e6e6e6;
  justify-content: center;
}

#menu-mobile li:hover {
  font-weight: bolder;
}

#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

#menu-desktop {
  display: none;
}

#menu-desktop li {
  font-family: "poppins";
  color: #e6e6e6;
  list-style: none;
  display: inline;
  margin-right: 1.5em;
}

#menu-desktop a:hover {
  font-weight: bolder;
}

.blob-container {
  display: flex;
  flex: column;
}

.orange-blob {
  position: absolute;
  width: 55px;
  height: 7px;
  margin-top: 1.5em;
}

.orange-blob-tv {
  position: absolute;
  width: 75px;
  height: 8px;
  margin-top: 1.6em;
}

.orange-blob-contact {
  position: absolute;
  width: 67px;
  height: 8px;
  margin-top: 1.6em;
}

/*----------------- CSS for main --------------------*/
body {
  background-color: #272727;
}

.main-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#random-movie-card {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 530px;
  overflow: auto;
  background-color: #404040;
  border-radius: 20px;
  padding: 30px 10px 0px 10px;
  grid-area: sidebar;
}

.movie-card-headline {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  width: 200px;
  text-align: center;
}

.random-movie-button {
  margin-top: 20px;
  width: 240px;
  height: 40px;
  color: #e6e6e6;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #DB5B24;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.random-movie-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 220px;
  border-radius: 20px;
  background-color: #505050;
  margin-top: 30px;
}

.quality-text {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  width: 40vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.quality-sub-text {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  width: 40vw;
  text-align: center;
}

.genres-headline {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  width: 60vw;
  text-align: center;
  margin-top: 20px;
}

#random-movie-container {
  display: none;
  background-color: #404040;
}

#movie-poster {
  width: 290px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#movie-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #e6e6e6;
  font-weight: 500;
}

.date-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 16px;
}

#release-date {
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-weight: 400;
  font-size: 14px;
}

.star-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 20px;
  width: 75px;
  height: 30px;
}

#movie-rating {
  font-family: "Poppins", sans-serif;
  color: #FFCE31;
  font-size: 14px;
}

.star {
  padding-right: 5px;
  height: 16px;
  width: 16px;
  padding-bottom: 2px;
}

.overview {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.overview-trailer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#overview-sub {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-weight: 400;
  font-size: 14px;
}

#read-more {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FFCE31;
  background: none;
  border: none;
  cursor: pointer;
}

#read-less {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FFCE31;
  background: none;
  border: none;
  cursor: pointer;
}

#top-movies-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  grid-area: topMovies;
  margin-left: 1rem;
  margin-right: 1rem;
}

.top-movies-headline {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1.5em;
  margin-left: 1vw;
  margin-top: 3em;
  align-self: center;
}

.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.movies-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 0.2em;
}

.top-movies-poster {
  height: 10rem;
  width: 10rem;
  border-radius: 20px;
  position: relative;
}

.top-movies-rating {
  font-family: "Poppins", sans-serif;
  color: #FFCE31;
  font-size: 12px;
  margin-left: 3px;
}

.top-movies-star-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  background-color: #000000;
  border-radius: 20px;
  width: 50px;
  height: 26px;
  margin-top: 130px;
  margin-right: 8px;
}

.star {
  padding-bottom: 2px;
}

.top-movies-title {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  width: 160px;
  margin-top: 8px;
}

.top-movies-release {
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  font-size: 12px;
  font-weight: 400;
}

.trailerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 25px;
  text-align: center;
  color: #FFFFFF;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 500;
  background-color: #EC1919;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.youtube-icon {
  margin-left: 4px;
}

.view-all-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  color: #e6e6e6;
  cursor: pointer;
}

.view-all-container {
  display: flex;
  align-self: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
}

footer h1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  font-weight: 400;
}

/* ---------------------------- CSS for contact page ------------------------------*/
#contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-wrapper {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 80vw;
}

.contact-headline {
  font-family: "poppins";
  color: #e6e6e6;
  font-weight: 400;
}

.contact-sub-headline {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-family: "poppins";
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 19em;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 18.7em;
}

#input-smaller {
  border-radius: 10px;
  height: 2.5em;
  border: none;
  padding-left: 1em;
  font-family: "poppins";
}

#input-bigger {
  border: none;
  height: 9em;
  border-radius: 10px;
  padding-left: 1em;
}

.contact-submit {
  margin-top: 20px;
  width: 16.5em;
  height: 40px;
  color: #e6e6e6;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #DB5B24;
  border-radius: 5px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* -------------------------------- Media queries -----------------------------------------*/
@media (min-width: 544px) {
  .movies-container:last-child {
    display: none;
  }
  .top-movies-headline {
    font-size: 18px;
  }
  #contact-form {
    width: 24.5em;
  }
  #input-bigger {
    height: 14em;
  }
  #input-smaller {
    height: 3em;
  }
  .contact-submit {
    width: 21.8em;
  }
}
@media (min-width: 730px) {
  .top-movies-poster {
    height: 170px;
    width: 190px;
  }
  .movie-container {
    gap: 2rem;
  }
}
@media (min-width: 980px) {
  #menuToggle {
    display: none;
  }
  #menu-desktop {
    display: initial;
    display: flex;
    position: absolute;
    top: 1.3em;
    right: 18px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  .main-wrapper {
    display: grid;
    grid-template-rows: 250px 250px 250px 250px 250px;
    grid-template-areas: "header header header header header" "sidebar sidebar topMovies topMovies topMovies" "sidebar sidebar topMovies topMovies topMovies" "sidebar sidebar topMovies topMovies topMovies";
    margin-top: -7rem;
  }
  #random-movie-card {
    justify-self: center;
    padding-bottom: 5.8rem;
  }
  .movies-container:last-child {
    display: none;
  }
  header {
    margin-top: -0.1rem;
  }
  body {
    display: grid;
    margin: 0;
    padding: 0;
  }
  .top-movies-poster {
    height: 160px;
    width: 160px;
  }
  .movie-container {
    gap: 1rem;
  }
  .top-movies-headline {
    font-size: 18px;
  }
  .view-all-container {
    padding-right: 0.7em;
  }
}
@media (min-width: 1120px) {
  .top-movies-poster {
    width: 13em;
    height: 12em;
  }
  #random-movie-card {
    padding-bottom: 10em;
  }
  .top-movies-headline {
    padding-bottom: 0.5em;
  }
  .top-movies-star-wrapper {
    margin-top: 10em;
    margin-right: 0.5em;
  }
  .top-movies-title {
    font-size: 16px;
  }
  .top-movies-release {
    font-size: 14px;
  }
  #menu-desktop li {
    margin-right: 2em;
    font-size: 18px;
  }
  #top-movies-container {
    padding-top: 2.5em;
  }
  .view-all-container {
    padding-right: 1em;
  }
  .orange-blob {
    width: 62px;
    height: 8px;
    margin-top: 1.7em;
  }
  .orange-blob-tv {
    position: absolute;
    width: 83px;
    height: 8px;
    margin-top: 1.7em;
  }
  .orange-blob-contact {
    position: absolute;
    width: 74px;
    height: 8px;
    margin-top: 1.7em;
  }
}
@media (min-width: 1324px) {
  .movies-container:last-child {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 90px;
  }
  #menu-desktop {
    top: 1.9em;
  }
  #menu-desktop li {
    margin-right: 2.5em;
  }
}
@media (min-width: 1646px) {
  #random-movie-card {
    width: 380px;
    height: 530px;
  }
  .view-all-container {
    padding-right: 1.8em;
  }
  .main-wrapper {
    padding-top: 2em;
  }
  #menu-desktop li {
    margin-right: 3em;
  }
}
@media (min-width: 1830px) {
  .top-movies-poster {
    width: 15em;
    height: 13em;
  }
  #top-movies-container {
    padding-top: 5em;
  }
  .top-movies-star-wrapper {
    margin-top: 11em;
  }
}/*# sourceMappingURL=styles.css.map */